<html>
<head>
    <title>Control de usuarios - Erick Salazar- 171G0250</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <p>Erick Salazar-171G0250</p>
        <h1>PelisPlus: Las mejores películas online</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    
</body>
</html>