@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div class="text-center">
    <div>
        <a  asp-controller="Home" asp-action="InicioDeSesion">
            <input type="button" value="Inicia Sesión" />
        </a>
        <br />
        <br />
        <a  asp-controller="Home" asp-action="Registro">
            <input type="button" value="Registrate!!" />
        </a>
    </div>

</div>
